{% extends "base.html"  %}
{% load staticfiles %}
{% block page_title  %} Project's MoinMoin{% endblock  %}

{% block menu  %}
{% endblock %}

{% block content  %}
<p>
  <a href="{% url 'wiki:wikilogin' project.slug %}" class="btn btn-primary" role="button">Add entry to Wiki</a>
  <a href="{{ project.get_absolute_url }}" class="btn btn-default" role="button">Go Back to Project Details</a>
</p>
<div id="text">
<pre id="txt1">
= {{ project.name|title }} =

== Description ==

{{ project.description }}

{% with project.instance_set.all as instances %}{% if instances %}== Instances =={% for instance in instances %}

=== {{ instance.get_instance_type_display }} ===

{{ instance.description }}

||path: {{ instance.path }}||
{% if instance.host %}||host: {{ instance.host }}||{% endif %}
{% if instance.virtualenv %}||Virtualenv: {{ instance.virtualenv.name }}||{% endif %}
{% with instance.database_set.all as dbs %}{% if dbs%}{% for db in dbs %}||db: {{ db.name }} ||host: {{ db.host }} ||user: {{ db.user }} ||port: {{ db.port }}||
{% endfor %}{% endif %}{% endwith %}{% endfor %}{% endif %}{% endwith %}

{% with project.repository_set.all as repos %}{% if repos %}== Repositories ({{ repos|length }}) ==

{% for repo in repos %}||{{ repo.name }}||{{ repo.url }}||
{% endfor %}{% endif %}{% endwith %}

{% with project.dependencies.all as dependencies %}{% if dependencies %}== Dependencies ({{ dependencies|length }}) ==

{% for dependency in dependencies %}||pip: {{ dependency.pip_package_name }} {% if dependency.version %}({{ dependency.version }}){% endif %}{% if dependency.package_name %} ||apt: {{dependency.package_name}}{% endif %}||
{% endfor %}{% endif%}{% endwith %}

{% with project.cronjob_set.all as cronjobs %}{% if cronjobs %}== Cronjobs ({{ cronjobs|length }}) ==

{% for cronjob in cronjobs %}||{{ cronjob.name }}||{{ cronjob.description }}||
{% endfor %}{% endif%}{% endwith %}

{% with project.tag.all as tags %}{% if tags %}== Tags ({{ tags|length }}) ==

{% for tag in tags %}||{{ tag }}||
{% endfor %}{% endif%}{% endwith %}

{% with project.note_set.all as notes %}{% if notes %}== Notes ({{ notes|length }}) ==

{% for note in notes %}=== {{ note.title }} ===

{{note.description}}{% endfor %}{% endif%}{% endwith %}

. [[Category-Ανάπτυξη]] [[Category-Τεκμηρίωση]]

</pre>
<textarea id="txt2" readonly="readonly" rows="30"></textarea>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static "js/select_text.js" %}"></script>
{% endblock %}
