[run]
omit = 
    *__init__.py
    */_tests.py
    */tests.py
    *_tests.py
    */migrations/*
    manage.py
    *wsgi.py
    *settings.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
