# python garbage files
*.pyc

# django-managed static and media files
/public

# local settings should be overriden per site
local_settings.py

# database
*.db

# vim .swp files
*.swp

# coverage local cache
.coverage
