{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% if cronjobs %}
	<h1>{{ cronjobs|length }} Cronjobs </h1>
	<div class="list-group">
		{% if request.user.is_superuser %}
			<a class="list-group-item" href="{% url 'admin:index_cronjob_add' %}"><i class="fa fa-plus"></i></a>
		{% endif %}
		{% for cronjob in cronjobs %}
			<a class="list-group-item searchable" href="{{ cronjob.get_absolute_url }}" data-index="{{ cronjob.name|lower }}">{{ cronjob.name }} @ {{ cronjob.host_list }} {% if cronjob.project %} for {{cronjob.project}}{% endif %}.</a>
		{% endfor %}
	</div>
{% else %}
	No cronjobs register
{% endif %}
{% endblock %}

{% block extrajs %}
<script src="{% static "js/css_search.js" %}"></script>
{% endblock %}
