{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
	<h1>{% if request.user.is_superuser %}<a href="{% url 'admin:index_database_change' database.id %}"><i class="fa fa-pencil"></i>
</a>{% endif %}{{ database.name }}</h1>
{% if request.user.is_superuser %}<a href="{{ database.get_wiki_url  }}" class="btn btn-default" role="button">Get MoinMoin  <i class="fa fa-wikipedia-w"></i></a>{% endif %}

	{% with database.instances.all as instances %}
		{% if instances %}
			<h2>Instances ({{ instances|length }})</h2>
			<div class="list-group">
			{% for instance in instances %}
				<a class="list-group-item" href="{{ instance.project.get_absolute_url }}">
					{{ instance.project.name }} ({{instance.get_instance_type_display}})
				</a>
			{% endfor %}
			</div>
		{% endif%}
	{% endwith %}

	{% if database.app_name %}
	<h3>Application Name</h3>
	<div class="list-group">
	<li class="list-group-item">
		{{ database.app_name }}
	</li>
	{% endif %}

	<h2>Database Details</h2>
	<pre>{% if database.host %}<strong>Host:</strong> {{ database.host }} <br/>{% endif %}<strong>Engine:</strong> {{ database.engine }}</pre>

	{% with database.note_set.all as notes %} 
		{% if notes %}
			<h2>Notes ({{ notes|length }})</h2>
			{% for note in notes %}
				<h1>{{ note.title }}</h1>
				<p>
					{% autoescape off %}
						{% markdown %}{{ note.description }}{% endmarkdown %}
					{% endautoescape %}
				</p>
			{% endfor %}
		{% endif%}
	{% endwith %}

{% endblock %}

