{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}


{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>{% if request.user.is_superuser %}<a href="{% url 'admin:index_project_change' project.id %}"><i class="fa fa-pencil"></i>
</a>{% endif %}{{ project.name|title }}</h1>
{% if request.user.is_superuser %}<a href="{{ project.get_wiki_url  }}" class="btn btn-default" role="button">Get MoinMoin  <i class="fa fa-wikipedia-w"></i></a>{% endif %}
<div class="row">
  <div class="col-lg-12">
    <h2>Description</h2>
    {% autoescape off %}
    {% markdown %}{{ project.description }}{% endmarkdown %}
    {% endautoescape %}

    {% with project.doc_set.all as docs %}
    {% if docs %}
    <h2>Docs</h2>
    <div class="list-group">
      {% for doc in  docs %}
      <a class="list-group-item" href="{{ doc.url }}">{{ doc.name }}</a>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>
</div>

<div class="row">
  {% with project.instance_set.all as instances %}
  {% if instances %}
  <div class="col-lg-12">
    <h2>Instances</h2>
    <div class="row" id="presenter">
    </div>
    <div class="row" id="holder">
      {% for instance in instances %}
      <div id="instance-holder-{{instance.get_id}}">
        <div class="col-lg-6" id="instance-panel-{{instance.get_id}}"
             data-url="{% url 'instances:project-state' instance.get_id %}"
             data-project-slug="{{project.slug}}">
          <div>
            <h3>
              <span>{{ instance.get_instance_type_display }}</span>
              {% if instance.deploymentinfo_set.all %}
              <button class="btn btn-default pull-right"
                      id="expander-{{instance.get_id}}">
                Deployment Status
                <span class="pull-right"><i class="fa fa-gear fa-spin"></i></span>
                <span class="badge hidden" 
                      id="commits-{{instance.get_id}}"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Undeployed commits in 'master' branch"
                      rel="tooltip" style="color: white; background-color: #d9534f;">
                </span>
              </button>
              {% endif %}
            </h3>
          </div>
          <p>
          {{ instance.description }}
          </p>
          <div class="list-group">
            {% if instance.url %}
            <a class="list-group-item" href="{{instance.url}}">
              <samp>{{ instance.url }}</samp>
              <span class="badge libadge">
                <i class="fa fa-link"></i>
              </span>
            </a>
            {% endif %}
            <li class="list-group-item">
              <samp>{{ instance.path }}</samp>
              <span class="badge libadge">:/</span>
            </li>
            {% if instance.host %}
            <li class="list-group-item">
              <samp>{{ instance.host }}</samp>
              <span class="badge libadge">
                <i class="fa fa-server"></i>
              </span>
            </li>
            {% endif %}
            {% if instance.virtualenv %}
            <li class="list-group-item"> Virtualenv: {{ instance.virtualenv.name }}</li>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-6 hidden deployment-info">
          <div class="panel panel-default">
            <div class="panel-heading inline-headers">
              <h4 class="panel-title">
                <span data-toggle="collapse" id="expander-{{instance.get_id}}">
                  <span class="badge libadge">
                    <i class="fa fa-code-fork"></i>
                  </span>
                  <strong>Latest Deployment: </strong>
                  <samp>{{instance.deploymentinfo_set.all.0.commit_hash |slice:":8"}}...</samp>
                  deployed at <strong>{{instance.deploymentinfo_set.all.0.date}}</strong>
                </span>
              </h4>
            </div>
            <div class="panel-body">
              <div>
                Commits:
              </div>
              <div class="list-group" id="commit-list-{{instance.get_id}}">
              </div>
              <div class="well hidden" id="commit-presentation-{{instance.get_id}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}
</div>

<div class="row">
  {% with project.repository_set.all as repos %}
  {% if repos %}
  <div class="col-lg-6">
    <h2>Repositories</h2>
    <div class="list-group">
      {% for repo in repos %}
      <a class="list-group-item" href="{{ repo.url }}">
        <span class="badge libadge"><i class="fa fa-git"></i></span>
        <samp>{{ repo }}</samp>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}

  {% with project.cronjob_set.all as cronjobs %}
  {% if cronjobs %}
  <div class="col-lg-6">
    <h2>Cronjobs</h2>
    <div class="list-group">
      {% for cronjob in cronjobs %}
      <a class="list-group-item" href="{{ cronjob.get_absolute_url }}">
        <span class="badge libadge">
          <i class="fa fa-clock-o"></i>
        </span>
        <samp>{{ cronjob }}</samp>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif%}
  {% endwith %}
</div>


<div class="row">
  {% with project.tag.all as tags %}
  {% if tags %}
  <div class="col-lg-6">
    <h2>Tags</h2>
    <div class="list-group">
      {% for tag in tags %}
      <a class="list-group-item" href="{{ tag.get_absolute_url }}">
        <span class="badge libadge">
          <i class="fa fa-tag"></i>
        </span>
        <samp>{{ tag }}</samp>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif%}
  {% endwith %}
</div>

<div class="row">
  {% with project.note_set.all as notes %}
  {% if notes %}
  <div class="col-lg-12">
    <h2>Notes</h2>
    {% for note in notes %}
    <h1>{{ note.title }}</h1>
    <p>
    {% autoescape off %}
    {% markdown %}{{ note.description }}{% endmarkdown %}
    {% endautoescape %}
    </p>
    {% endfor %}
    {% endif%}
  </div>
  {% endwith %}
  {% endblock %}
</div>

{% block extrajs %}
<script>
$(document).ready(function (){

  $(function () {
    $("[rel='tooltip']").tooltip();
  });

  function restoreAllPresented(){

    $('#presenter').children().find('.deployment-info').addClass('hidden');
    $('#presenter').children().detach().appendTo($('#holder'));
    $('#holder').children().find('[id^="collapse-"]').removeClass('in');
    // rebind previously removed handler
    $('#holder').children().find($('[id^="expander"]'))
      .bind('click', presentInstance);
  }

  function presentInstance() {

    // remove all already presented items
    restoreAllPresented();
    var instanceHolder = $('#instance-holder-' + this.id.split('-')[1]);
    // remove element from "instance-holder", add it to "presenter"
    instanceHolder.detach().appendTo($('#presenter'));
    // display "deployment-info" div
    instanceHolder.find('.deployment-info').removeClass('hidden');
    // Collapse list with commits
    instanceHolder.find('#collapse-' + this.id.split('-')[1]).addClass('in');
    // Scroll window to top
    window.scrollTo(0,0);
    // unbind handler (we do not want iw when Instance is presented
    $(this).unbind('click', presentInstance);
  };

  // bind a 'click' handler
  $('#holder').children().find($('[id^="expander"]'))
    .bind('click', presentInstance);

  function presentCommit(){
    var identifier = $(this).data('c-id');
    var author = $(this).data('c-auth');
    var date = $(this).data('c-date');
    var message = $(this).data('c-message');

    var commitPanel = '';
    commitPanel += '<samp>';
    commitPanel += '<div style="color:#5cb85c">'; 
    commitPanel += 'commit ' + identifier + '<br/>';
    commitPanel += '</div>';
    commitPanel += 'Author: ' + author + '<br/>';
    commitPanel += 'Date:   ' + date + '<br/>';
    commitPanel += '<br/>' + '<br/>';
    commitPanel += '<pre>' + message + '</pre>';
    commitPanel += '</samp>';

    $(this).parent().parent().children('div.well').html(commitPanel);
    $(this).parent().parent().children('div.well').removeClass('hidden');
  }

  $('[id^="instance-panel-"]').each(function () {
    var url = $(this).data('url') + '?project=' + $(this).data('project-slug');
    var that = this;
    var instance_id = this.id.split('-')[2];
    console.log(url);
    $.get(url)

      .done(function(data){
        $(that).find('[id^="commits"]').each(function(){
          $(this).prev().addClass('hidden');
          if (data.length > 0){
            $(this).html(data.length);
            $(this).removeClass('hidden');
          }
          var index;
          for (index = data.length-1 ; index >= 0; index--){

            commitRowId = 'commit-toggler-' + instance_id + '-' + index;

            commitRow = '<li class="list-group-item" ';
            commitRow += 'id="' + commitRowId +'"';
            commitRow += 'data-c-id="' + data[index].identifier + '"';
            commitRow += 'data-c-auth="' + data[index].author + '"';
            commitRow += 'data-c-date="' + data[index].date + '"';
            commitRow += 'data-c-message="' + data[index].message + '"';
            commitRow += '>';
            commitRow += '<samp>' + data[index].identifier + '</samp>';
            commitRow += '</li>';

            $('#commit-list-' + instance_id).append(commitRow);
            $('#' + commitRowId).bind('click', presentCommit);
          }
        }) 
        $(that).find($('[id^="expander"]')).bind('click', presentInstance);
      })
  }); 
});


</script>
{% endblock %}
