{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block content %}
<h1>{{ project.name }}</h1>
<h2>Description</h2>
	{% autoescape off %}
	{% markdown %}{{ project.description }}{% endmarkdown %}
	{% endautoescape %}
{% with project.doc_set.all as docs %}
	{% if docs %}
		<h2>Docs</h2>
		<div class="list-group">
		{% for doc in  docs %}
			<a class="list-group-item" href="{{ doc.url }}">{{ doc.name }}</a>
		{% endfor %}
		</div>
	{% endif %}
{% endwith %}
{% with project.instance_set.all as instances %}
	{% if instances %}
		<h2>Instances</h2>
		<div class="list-group">
		{% for instance in instances %}
			<a class="list-group-item" href="{{ instance.url }}">{{ instance.instance_type }} ({{ instance.description }}) path: {{ instance.path }} {% if instance.host %}host: {{ instance.host }}{% endif %}</a>
		{% endfor %}
		</div>
	{% endif %}
{% endwith %}
{% with project.repository_set.all as repos %}
	{% if repos %}
		<h2>Repositories</h2>
		<div class="list-group">
			{% for repo in repos %}
				<a class="list-group-item" href="{{ repo.url }}">{{ repo }}</a>
			{% endfor %}
		</div>
	{% endif %}
{% endwith %}
{% with project.tag.all as tags %}
	{% if tags %}
		<h2>Tags</h2>
		<div class="list-group">
		{% for tag in tags %}
			<a class="list-group-item" href="{{ tag.get_absolute_url }}">{{ tag }}</a>
		{% endfor %}
	{% endif%}
{% endwith %}
		</div>

{% endblock %}
