{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}


{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>{% if request.user.is_superuser %}<a href="{% url 'admin:index_project_change' project.id %}"><i class="fa fa-pencil"></i>
</a>{% endif %}{{ project.name|title }}</h1>
{% if request.user.is_superuser %}<a href="{{ project.get_wiki_url  }}" class="btn btn-default" role="button">Get MoinMoin  <i class="fa fa-wikipedia-w"></i></a>{% endif %}
<div class="row">
  <div class="col-lg-12">
    <h2>Description</h2>
    {% autoescape off %}
    {% markdown %}{{ project.description }}{% endmarkdown %}
    {% endautoescape %}

    {% with project.doc_set.all as docs %}
    {% if docs %}
    <h2>Docs</h2>
    <div class="list-group">
      {% for doc in  docs %}
      <a class="list-group-item" href="{{ doc.url }}">{{ doc.name }}</a>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>
</div>

<div class="row">
  {% with project.instance_set.all as instances %}
  {% if instances %}
  <div class="col-lg-12">
    <h2>Instances</h2>
    <div>
      {% for instance in instances %}
      <div class="col-lg-6">
        <h3>{{ instance.get_instance_type_display }}</h3>
        <p>
        {{ instance.description }}
        </p>
        <div class="list-group">
          {% if instance.url %}
          <a class="list-group-item" href="{{instance.url}}">
            <samp>{{ instance.url }}</samp>
            <span class="badge libadge">
              <i class="fa fa-link"></i>
            </span>
          </a>
          {% endif %}
          <li class="list-group-item">
            <samp>{{ instance.path }}</samp>
            <span class="badge libadge">:/</span>
          </li>
          {% if instance.host %}
          <li class="list-group-item">
            <samp>{{ instance.host }}</samp>
            <span class="badge libadge">
              <i class="fa fa-server"></i>
            </span>
          </li>
          {% endif %}
          {% if instance.virtualenv %}<li class="list-group-item"> Virtualenv: {{ instance.virtualenv.name }}</li>{% endif %}
          {% with instance.instance_info.all as dbs %}
          {% if dbs%}
          {% for db in dbs %}<a href="{{ db.get_absolute_url }}" class="list-group-item"> db: {{ db.name }} host: {{ db.host }} engine: {{ db.engine }}</a>{% endfor %}
          {% endif %}
          {% endwith %}
        </div>
        {% with instance.deploymentinfo_set.all as deployments %}
        {% if deployments %}
        <div class="inline-headers">
          <h4>Current State</h4>
          <h4 class="pull-right"> <span class="badge"> 5 </span> </h4> 
        </div>
        <div class="panel panel-default">
          <div class="panel-heading inline-headers">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseThree">
                  <span class="badge libadge">
                    <i class="fa fa-code-fork"></i>
                  </span>
                  <samp>{{deployments.0.commit_hash |slice:":8"}}...</samp>
                  deployed at <strong>{{deployments.0.date}}</strong>
                </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body toplevel">
              <ul class="list-group">
                <div class="panel-group" id="accordion2">
                  <li class="list-group-item panel-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeOne">One</li>
                  <div id="collapseThreeOne" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="well">
                      </div>
                    </div>
                  </div>
                  <li class="list-group-item panel-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeTwo">One</li>
                  <div id="collapseThreeTwo" class="panel-collapse collapse">
                    <div class="panel-body">Panel 3.2</div>
                  </div>
                  <li class="list-group-item panel-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeThree">One</li>
                  <div id="collapseThreeThree" class="panel-collapse collapse">
                    <div class="panel-body">Panel 3.3</div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>   
        {% endif %}
        {% endwith %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}
</div>

<div class="row">
  {% with project.repository_set.all as repos %}
  {% if repos %}
  <div class="col-lg-6">
    <h2>Repositories</h2>
    <div class="list-group">
      {% for repo in repos %}
      <a class="list-group-item" href="{{ repo.url }}">
        <span class="badge libadge"><i class="fa fa-git"></i></span>
        <samp>{{ repo }}</samp>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}

  {% with project.cronjob_set.all as cronjobs %}
  {% if cronjobs %}
  <div class="col-lg-6">
    <h2>Cronjobs</h2>
    <div class="list-group">
      {% for cronjob in cronjobs %}
      <a class="list-group-item" href="{{ cronjob.get_absolute_url }}">
        <span class="badge libadge">
          <i class="fa fa-clock-o"></i>
        </span>
        <samp>{{ cronjob }}</samp>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif%}
  {% endwith %}
</div>


<div class="row">
  {% with project.tag.all as tags %}
  {% if tags %}
  <div class="col-lg-6">
    <h2>Tags</h2>
    <div class="list-group">
      {% for tag in tags %}
      <a class="list-group-item" href="{{ tag.get_absolute_url }}">
        <span class="badge libadge">
          <i class="fa fa-tag"></i>
        </span>
        <samp>{{ tag }}</samp>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif%}
  {% endwith %}
</div>

<div class="row">
  {% with project.note_set.all as notes %}
  {% if notes %}
  <div class="col-lg-12">
    <h2>Notes</h2>
    {% for note in notes %}
    <h1>{{ note.title }}</h1>
    <p>
    {% autoescape off %}
    {% markdown %}{{ note.description }}{% endmarkdown %}
    {% endautoescape %}
    </p>
    {% endfor %}
    {% endif%}
  </div>
  {% endwith %}
  {% endblock %}
</div>

{% block extrajs %}
<script>
$(document).ready(function (){

  var togglers = $('#modal-toggler');
  $.each(togglers, function (index,value){
  });

  function getUncommitedHashes(){

    $.each(

  }
});
</script>
{% endblock %}
