{% extends 'base.html' %}

{% block content %}
	<h1>{% if request.user.is_superuser %}<a href="{% url 'admin:index_host_change' host.id %}"><i class="fa fa-pencil"></i>
</a>{% endif %}{{ host.name }}</h1>
	{% with host.instance_set.all as instances %}
		{% if instances %}
		<h2>Projects ({{ instances|length }})</h2>
		<div class="list-group">
		{% for instance in instances %}
			<a class="list-group-item" href="{{ instance.url }}">
				{{ instance.project.name }}: {{ instance.get_instance_type_display }}
			</a>
		{% endfor %}
		</div>
		{% endif%}
	{% endwith %}

	{% with host.packages as packages %}
		{% if packages %}
		<h2>Python Packages ({{ packages|length }})</h2>
		<div class="list-group">
			{% for package in packages %}
				<a class="list-group-item" href="{{ package.url }}">{{ package.name }} {% if package.version %}({{ package.version }}){% endif %}</a>
			{% endfor %}
		</div>
		{% endif %}
	{% endwith %}

	{% with host.cronjob_set.all as cronjobs %}
		{% if cronjobs %}
		<h2>Cronjobs ({{ cronjobs|length }})</h2>
		<div class="list-group">
			{% for cronjob in cronjobs %}
				<a class="list-group-item" href="{{ cronjob.get_absolute_url }}">{{ cronjob.name }}</a>
			{% endfor %}
		</div>
		{% endif %}
	{% endwith %}

{% endblock %}

