{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
	<h1>{% if request.user.is_superuser %}<a href="{% url 'admin:index_tag_change' tag.id %}"><i class="fa fa-pencil"></i>
</a>{% endif %}{{ tag.name }}</h1>
	{% with tag.project_set.all as projects %}
		{% if projects %}
		<h2>Projects</h2>
		<div class="list-group">
		{% for project in projects %}
			<a class="list-group-item" href="{{ project.get_absolute_url }}">{{ project }}</a>
		{% endfor %}
		</div>
		{% endif%}
	{% endwith %}
	{% with tag.note_set.all as notes %}
		{% if notes %}
			<h2>Notes ({{ notes|length }})</h2>
			{% for note in notes %}
				<h1>{{ note.title }}</h1>
				<p>
					{% autoescape off %}
						{% markdown %}{{ note.description }}{% endmarkdown %}
					{% endautoescape %}
				</p>
			{% endfor %}
		{% endif%}
	{% endwith %}
{% endblock %}
