{% extends 'base.html' %}

{% block content %}
	<h1>{% if request.user.is_superuser %}<a href="{% url admin:index_tag_change tag.id %}"><i class="fa fa-pencil"></i>
</a>{% endif %}{{ tag.name }}</h1>
	{% with tag.project_set.all as projects %}
		{% if projects %}
		<h2>Projects</h2>
		<div class="list-group">
		{% for project in projects %}
			<a class="list-group-item" href="{{ project.get_absolute_url }}">{{ project }}</a>
		{% endfor %}
		</div>
		{% endif%}
	{% endwith %}
	{% with tag.note_set.all as notes %}
		{% if notes %}
		<h2>notes</h2>
		<div class="list-group">
		{% for note in notes %}
			<a class="list-group-item" href="{{ note.get_absolute_url }}">{{ note }}</a>
		{% endfor %}
		</div>
		{% endif%}
	{% endwith %}
{% endblock %}
