header {
	box-shadow: 0 0 10px 1px silver;
	border-bottom: 1px solid silver;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	margin-bottom: 60px;
}

header a.logo {
	display: inline-block;
	position: relative;
}

header a.logo img {
	position:absolute;
	display: inline-block;
	left: 0;
	top: 8px;
}

header a.logo {
	float: left;
	padding-left: 50px;
}


header a.logo:after {
	content:"";
	display:table;
	clear:both;
}

.body {
	background: white;
	position: relative;
	/*z-index: 10;*/
	margin-bottom: 50px;
	box-shadow: 0 0 10px 10px silver;
	padding-bottom: 50px;
}

body {
	background: #eeeeee;
}

footer {
	background: #eeeeee;
	padding: 15px;
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: -1;
}

#txt2
{
    display: none;
    width: 100%;
    resize: none;
}

.mysql-code pre{
	height: 0;
	padding: 0 9.5px;
	border-color: white;
	transition: all 0.1s linear;
}

.mysql-code.expand pre{
	height: auto;
	padding: 9.5px;
	border: 1px solid #ccc;
}

.mysql-code.expand .plus{
	display:none;
}

.mysql-code.expand .minus{
	display:inline;
}

.mysql-code .minus{
	display:none;
}

.mysql-code i{
	cursor:pointer;
}


.myli:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    float: left;
    margin-top: 8px;
    margin-left: -20px;
}

.myli{
	margin-left: 20px;
}

.libadge {
    margin-right: 10px;
    width: 40px;
    float: left!important;
}

div.list-group a span.libadge {
    background-color: #337ab7;
}

div.list-group a {
    cursor: pointer;
}

.libadge i.alignme {
    margin-left: 7px;
}

.toplevel{
    padding: 0px 0px 0px 0px;
}

.panel-group > .list-group-item {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}

libadge-right {
    float: right!important;
}
